/* Laravel Notify */
.max-w-sm.w-full.bg-white.shadow-lg.rounded-lg.pointer-events-auto.border-l-4.border-green-600 {
    margin-top: 3%;
}
.edit_category{
    margin-top: 10px;
    margin-bottom: 10px;
}